<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="vo" type="project.list.vo.PlaceListVO"/>
		<typeAlias alias="tv" type="project.list.vo.TestVO"/>
		<typeAlias alias="member" type="project.member.vo.memberVO"/>
		<typeAlias alias="reply" type="project.list.vo.InfoboardVO"/>
		<typeAlias alias="fvo" type="project.list.vo.FavoVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="/sql/Map.xml"/>
		<mapper resource="/sql/rindb.xml"/>
		<mapper resource="/sql/testSQL.xml"/>
		<mapper resource="/sql/member.xml"/>
		<mapper resource="/sql/infoboard.xml"/>
	</mappers>
</configuration>